<VirtualHost *:80>
    # stats
    ServerName stats.router.{{ local_domain }}
  
    # proxy to netdata
    ProxyPass "/" "http://localhost:19999/"
    ProxyPassReverse "/" "http://localhost:19999/"
</VirtualHost>

