# limit responses to only inside network

# increase limit for requests
dns-forward-max=5000

# host file has silly docker stuff
no-hosts

# additional servers
{% for override in dns.overrides %}
server=/{{ override.domain }}/{{ override.address }}
{% endfor %}

# local domains
address=/router.{{ local_domain }}/{{ interfaces.gw }}
address=/stats.router.{{ local_domain }}/{{ interfaces.gw }}
address=/pihole.router.{{ local_domain }}/{{ interfaces.gw }}
address=/.router.{{ local_domain }}/{{ interfaces.gw }}
# all of the servers mentioned in the dns settings
{% for domain in dns.hosts %}
address=/{{ domain.name }}/{{ domain.addr }}
{% endfor %}

