[Unit]
Description=Redis container
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f pihole
ExecStart=/usr/bin/docker run -e ServerIP={{ interfaces.gw }} {% if dns.forward_servers is defined %}{% if dns.forward_servers[0] is defined %}-e DNS1="{{ dns.forward_servers[0] }}"{% endif %}{% endif %} {% if dns.forward_servers is defined %}{% if dns.forward_servers[1] is defined %}-e DNS2="{{ dns.forward_servers[1] }}"{% endif %}{% endif %} -e IPv6=False -e WEBPASSWORD=admin -e VIRTUAL_HOST=pihole.router.{{ local_domain }} --cap-add=NET_ADMIN -p 127.0.0.1:53:53/tcp -p 127.0.0.1:53:53/udp -p 127.0.0.1:8053:80/tcp -p {{ interfaces.gw }}:53:53/tcp -p {{ interfaces.gw }}:53:53/udp -p {{ interfaces.gw }}:8053:80 -v /etc/pihole:/etc/pihole:z -v /etc/pihole/dnsmasq.d:/etc/dnsmasq.d:z -v /var/log/pihole.log:/var/log/pihole.log:z --hostname pihole.router.{{ local_domain }} --name pihole diginc/pi-hole
ExecStop=/usr/bin/docker stop -t 2 pihole
ExecStopPost=-/usr/bin/docker rm -f pihole

[Install]
WantedBy=default.target
