<VirtualHost *:80>
    # pihole names
    ServerName pihole.router.{{ local_domain }}
    ServerAlias {{ interfaces.gw }}, pi.hole
  
    # proxy to pihole
    ProxyPass "/" "http://localhost:8053/"
    ProxyPassReverse "/" "http://localhost:8053/"
</VirtualHost>

<VirtualHost *:443>
    SSLEngine on

    SSLCertificateFile      /etc/pki/tls/certs/router.{{ local_domain }}.crt
    SSLCertificateKeyFile   /etc/pki/tls/private/router.{{ local_domain }}.key

    # pihole names
    ServerName pihole.router.{{ local_domain }}
    ServerAlias {{ interfaces.gw }}, pi.hole

    # proxy to pihole
    ProxyPass "/" "http://localhost:8053/"
    ProxyPassReverse "/" "http://localhost:8053/"
</VirtualHost>

