<VirtualHost *:443>
   ServerName unifi.router.{{ local_domain }}
   ServerAlias unifi.{{ local_domain }}
   
   RewriteEngine on
   RewriteCond %{HTTP:UPGRADE} ^WebSocket$ [NC]
   RewriteCond %{HTTP:CONNECTION} Upgrade$ [NC]
   RewriteRule /wss/(.*) wss://10.0.0.1:8443/wss/$1 [P]

   SSLEngine on

   SSLCertificateFile      /etc/pki/tls/certs/router.{{ local_domain }}.crt
   SSLCertificateKeyFile   /etc/pki/tls/private/router.{{ local_domain }}.key
   SSLProxyEngine on
   SSLProxyVerify none
   SSLProxyCheckPeerCN off
   SSLProxyCheckPeerName off

   ProxyRequests off
   ProxyPreserveHost on

   # HSTS (mod_headers is required) (15768000 seconds = 6 months)
   Header always set Strict-Transport-Security "max-age=15768000"

   # Encoded slashes need to be allowed
   AllowEncodedSlashes     NoDecode

   ProxyPass       /  https://localhost:8443/
   ProxyPassReverse / https://localhost:8443/
   ProxyPass "/wss/" "wss://localhost:8443/wss/"
   ProxyPassReverse "/wss/" "wss://localhost:8443/wss/"

   Header set Host unifi.router.{{ local_domain }}
   Header unset Referer
   RequestHeader unset Referer
</VirtualHost>
