# set up green team device
NAME=green0
DEVICE="{{ interfaces.green_name }}"
BOOTPROTO="static"
IPADDR="{{ interfaces.gw }}"
NETMASK="255.255.255.0"
ONBOOT="yes"
TYPE="Bridge"
NM_CONTROLLED="no"
ZONE=internal

# no IPV6
IPV6INIT=no
IPV6_AUTOCONF=no
IPV6_DEFROUTE=no
IPV6_FAILURE_FATAL=no
IPV6_PEERDNS=no
IPV6_PEERROUTES=no
