DEVICE={{ interfaces.red }}
INPUT_SPEED={{ qos.in }}
OUTPUT_SPEED={{ qos.out }}

interface $DEVICE world-in input rate $INPUT_SPEED $LINKTYPE
   class priority	commit 2% prio 1
     match udp port 53							# dns
     match icmp
     match tcp syn
     match tcp ack
   class facetime	commit 2%
     match udp ports 3478:3497,16384:16387,16393:16402 			# facetime
   class games		commit 2%
     match udp ports 500,3544,4500					# xbox
     match udp ports 4950,4955						# warframe udp
     match tcp ports 6695-6699						# warframe tcp
     match tcp ports 1119,3724,6113,6112,1120,6012			# blizzard
     match udp ports 1119,6120,6250,5062,5060,3478,3479,6113,1120,6012  # blizzard
   class communication	commit 1%
     match sports 5223							# apple push
     match sports 5222,5228						# gtalk
   class web		commit 10%
     match tcp sports 80,443						# http, https

interface $DEVICE world-out output rate $OUTPUT_SPEED $LINKTYPE
   class priority	commit 2% prio 1
     match udp port 53							# dns
     match icmp
     match tcp syn
     match tcp ack
   class facetime	commit 1%
     match udp ports 3478:3497,16384:16387,16393:16402			# facetime
   class games          commit 2%
     match udp ports 500,3544,4500                                     # xbox
     match udp ports 4950,4955                                          # warframe udp
     match tcp ports 6695-6699                                          # warframe tcp
     match tcp ports 1119,3724,6113,6112,1120,6012			# blizzard
     match udp ports 1119,6120,6250,5062,5060,3478,3479,6113,1120,6012  # blizzard
   class communication	commit 1%
     match dports 5223							# apple push
     match dports 5222,5228	    					# gtalk
   class web		commit 10%
     match tcp dports 80,443						# http, https

# lan
interface br0 lan-in input rate 1Gbit
   class priority       commit 2% prio 1
     match udp port 53                                                  # dns
     match icmp
     match tcp syn
     match tcp ack
   class steamlink	commit 2%
     match src {{ network }}.72
     match dst {{ network }}.72
   class default 	commit 10% prio keep
{% for type in dns.hosts | selectattr('type','defined') | map(attribute='type') | unique %}
   class {{ type }} 	commit 1% prio last 
{% for host in dns.hosts %}
{% if 'type' in host and host.type == type %}
     match host {{ host.addr }}
{% endif %}
{% endfor %}
{% endfor %}

interface br0 lan-out output rate 1Gbit
   class priority       commit 2% prio 1
     match udp port 53                                                  # dns
     match icmp
     match tcp syn
     match tcp ack
   class steamlink	commit 2%
     match src {{ network }}.72
     match dst {{ network }}.72
   class default        commit 10% prio keep
{% for type in dns.hosts | selectattr('type','defined') | map(attribute='type') | unique %}
   class {{ type }}     commit 1% prio last
{% for host in dns.hosts %}
{% if 'type' in host and host.type == type %}
     match host {{ host.addr }}
{% endif %}
{% endfor %}
{% endfor %}


